body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.miBarra {
  background-color: #b6c2d9;
}

h1 {
  text-align: center;
  text-decoration: underline wavy;
  background-color: aquamarine;
  margin-top: 2%;
}

.carrito{
  display: flex;
  flex-direction: row;
}

