body {
  padding: 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffff6;
 
}

#root {
  padding: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: #dce775;
  border: #ffffa6;
  color: black;
}

.btn:hover{
  
  background-color: #a8b545;
  color: black;
}

.botonCategoria:hover{
  background-color: #8692a7;
}


.miBarra {
  background-color: #f0f4c3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-left: 1%;
  padding-right: 1%;
}

.containerCategoria .nav-link{
  color: black;
}

.containerLogo{
  display: flex;
  justify-content: center;
}



.containerCarrito{
  display: flex;
  align-items: center;
}

.carritoLink:hover{
  background-color: #a8b545;
  border-radius: 50%;
  padding: 2%;
  color: black;
}

main {
  margin: 5%;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 2%;
}

.carrito{
  display: flex;
  flex-direction: row;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.card-title{
  font-size: 100%;
}

.card {
  background-color: #ffffce;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;

}

.botonDetalle{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-decoration: none;
}



.card-text{
  font-size: 100%;
}

.botonesCantidad{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.categoria{
  text-transform: capitalize;
}

.botonCarrito{
  margin-right: 20px;
  
  color: black;
  text-align: center;
  text-decoration-line: none;
}

.botonCarrito button{
  margin-top: 20px;
}

.productoCarrito {
  display: grid;
  grid-template-columns: 30% 60% 10%;
  border: black 1px groove;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  background-color: #ffecb3;
}

.botonQuitarProducto{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.carritoBotones{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.carritoBotones > * {
  margin-top: 20px;
}

.botonesAgregar{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.carritoLink{
  text-decoration: none;
  color: black;
}

.tituloCarroVacio {
  margin-top: 20%;
  margin-bottom: 15%;
  text-align: center;

}



.botonAgregarProducto{
  margin-top: 20px;
}



.contenedorCheckout{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
}

.contenedorDatosPersonales{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  border: 1px black solid;
  background-color: #e8f5e9;
  border-radius: 20px;
}

.botonTerminarCompra{
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
  padding-right: 5%;
    padding-left: 5%;
    background-color: #f0f4c3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    box-shadow: 0px 5px 5px 5px black;
    align-self: flex-end;
    width: 100%;
}




@media only screen and (min-width: 760px){
  #listaProductos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    grid-row-gap: 20px;
  }

  .card{
    width: 70%;
  }

  .detalleProducto{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 20px;
  }

  .imagenDetalle{
    width: 100%;
  }

  .cuantificador{
    width: 10%;
    margin-left: 10%;
    margin-right: 10%;
    cursor: pointer;
  }

  .numeroContador{
    font-size:xx-large;
  }

  .descripcionCarrito{
    font-size: 1vw;
    
  }

  .imagenCarrito {
    width: 50%;
  }

  .containerCategoria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }

}

@media only screen and (max-width: 759px){
  #listaProductos {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    grid-row-gap: 20px;
}
.card{
  width: 90%;
}

.detalleProducto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagenDetalle{
  width: 60%;
}

.cuantificador{
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  cursor: pointer;
}
.numeroContador{
  font-size:50px;
}

.tituloProductoCarrito{
  font-size: 200%;
}
.descripcionCarrito{
  font-size: 60%;
  line-height: 0.01;
}
.imagenCarrito {
  width: 100%;
  padding-right: 5px;
}

.containerCategoria{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.containerCategoria .nav-link{
  color: black;
  margin-right: 10px;
}


}

